/* Existing CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-logo {
  height: 2.5rem;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid var(--font-gray);
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 410px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.search-bar:hover {
  box-shadow: 0 0.50rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY( -1px); 
}

.search-bar-text {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  border-right: 1px solid var(--gray);
  padding-right: 0.5rem;
  padding: 0.5rem;
  width: 100px;
}

.search-bar-text1 {
  border: none;
  outline: none;
  font-size: 1rem;
  padding-right: 0.5rem;
  padding: 0.5rem;
  width: 100px;
  color: var(--font-gray);
}

.vertical-line {
  height: 1.5rem;
  width: 1px;
  background-color: #e0e0e0;
}

.search-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5a5f;
  padding: 0.5rem;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}

.profile-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.airbnb-your-home {
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.airbnb-your-home:hover {
  background-color: #f0f0f0;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
}

.profile-menu-flex {
  display: flex;
  justify-content: space-between;
  gap: 0.9rem;
  align-items: center;
  color: var(--font-gray);
  border: 1px solid var(--gray);
  padding: 0.7rem 1.4rem;
  margin-right: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.menu-items {
  padding: 0.75rem 1.5rem !important;
  font-size: 0.9rem;
  color: #484848;
}

.menu-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0.5rem 0;
}


.dropdown {
  position: absolute;
  top: 60px; 
  left: 50%;
  transform: translateX(-50%);
  background: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1000;
}

.dropdown-input {
  border: 1px solid var(--gray);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 200px;
}


  


